/* .logo {
  background-image: url('../images/logo2.png');
  background-repeat: no-repeat;
  background-size:contain;
} */

.about {
  background-image: url('../images/about1.jpg');
  background-repeat: no-repeat;
  background-size:contain;
}

.coffee {
  background-image: url('../images/coffee1.png');
  background-repeat: no-repeat;
  background-size:contain;
}


nav.fixed{
  position: fixed;
  top: 10rem;
  width: 11rem;
  background-color: #FFC933;
}

.header-offset{
  padding-top: 8rem;
}

header nav a {
  font-family: 'Sniglet', cursive;
  color: #32292F;
  font-size: 2rem;
  text-transform: uppercase;
}

header nav a:hover {
  color: #1c6ec5;
}

footer {
  background-color: #FFC933;
}

.merch1 {
  background-image: url('../images/merch1.jpg');
  background-repeat: no-repeat;
  background-size:contain;
}

.merch2 {
  background-image: url('../images/merch3.png');
  background-repeat: no-repeat;
  background-size:contain;
}

.merch3 {
  background-image: url('../images/merch4.png');
  background-repeat: no-repeat;
  background-size:contain;
}
