/* HEADER & HEADER NAV ELEMENTS */
nav.fixed{
  position: relative;
  z-index: 10;
  top: 10rem;
  width: 11rem;
  background-color: rgba (255, 201, 51, 1);
}

.header-offset{
  padding-top: 8rem;
}

header nav a {
  font-family: 'Sniglet', cursive;
  font-weight: 800;
  color: #32292F;
  font-size: 2rem;
  text-transform: uppercase;
}

header nav a:hover {
  color: #1c6ec5;
}

/* HAMBURGER NAV MENU */
/* this is where you style the button if you want to add more space between the spans than add padding to this div but make sure you also add it to the top and bottom active classes on there top/bottom or else your cross wont line up*/
.burger-button {
  position:fixed;
  top: 2vh;
  right: 2vh;
  z-index: 9999999999;
  padding: 8px;
}
/*this is where you can chand the color of the buttons*/
.burger-button span{
  width: 25px;
  border: 2px solid #FFC933;
  background-color: #FFC933;
  display: block;
  border-radius: 22px;
  transition: 2s;
}
.burger-button.active span{
  border-color: #1c6ec5;
  background-color:#1c6ec5;
}

.burger-top, .burger-bottom{
  position: absolute;
}

.burger-top{
  top: 02px;
}

.burger-bottom{
  bottom: 02px;
}
/* make sure this has the same top as the burger button has padding*/
.burger-button.active .burger-top{
  position: absolute;
  top: 8px;
  transform: rotateZ(45deg);
}

.burger-button.active .burger-middle{
  transform: rotateZ(270deg);
  border-color: rgba(0,0,0,0);
  background-color:rgba(0,0,0,0);
}

/* make sure this has the same bottom as the burger button has padding*/

.burger-button.active .burger-bottom{
  position: absolute;
  bottom: 8px;
  transform: rotateZ(-45deg);
}


.burger-menu {
    display: none;
    position: fixed;
    min-height: 18rem;
    left:0;
    right: 0;
    background-color: #FFC933;
    padding:5px;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
    z-index: 99999999;
}

.burger-menu a {
  text-decoration: none;
  padding: 15px 11px;
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 1.4;
  color: #32292F;
  font-family: 'Sniglet', cursive;
  text-transform: uppercase;
  display:block;
  padding:5px 15px;
  text-align:center;
  white-space:nowrap;
}

.burger-menu li{list-style:none}
/*
.dropdown-nav:hover .dropdown-content {
    display: block;
} */

/* FOOTER SOCIALS MENU */

nav .social a{
  display: inline-block;
  padding: 1rem 2rem 0 0
  font-weight: 800;
}

/* SITE PHOTOS PUT IN AS BG IMAGE */
/* .logo {
  background-image: url('../images/logo4.png');
  background-repeat: no-repeat;
  background-size:contain;
  z-index: 20;
  position: absolute;
} */


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.about {
  background-image: url('../images/about1.jpg');
  background-repeat: no-repeat;
  background-size:contain;
}

.coffee {
  background-image: url('../images/coffee1.png');
  background-repeat: no-repeat;
  background-size:contain;
}

/* MERCH PHOTOS CURRENTLY 3 */
.merch1 {
  background-image: url('../images/merch1.jpg');
  background-repeat: no-repeat;
  background-size:contain;
}

.merch2 {
  background-image: url('../images/merch3.png');
  background-repeat: no-repeat;
  background-size:contain;
}

.merch3 {
  background-image: url('../images/merch4.png');
  background-repeat: no-repeat;
  background-size:contain;
}

footer {
  background-color: #FFC933;
}
