<!DOCTYPE html>
<html>
<head>

  <!-- Meta Data -->
    <meta charset="utf-8">

    <!-- Meta data for SEO purposes. -->
    <title> {{page.title}} </title>
    <meta name="description" content="{{page.meta-description}}">
    <meta name="keywords" content="{{page.meta-keywords}}">

    <!-- meta data to tell the browser that your devide is responsive -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="index, follow">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">

    <!--  Social media sharing META Tags -->
    <meta property="og:title" content="{{page.title}}">
    <meta property="og:description" content="{{page.meta-description}}">
    <meta property="og:image" content="{{page.featured-image_path}}">
    <meta property="og:url" content="{{page.url}}">
    <meta name="twitter:card" content="{{page.meta-description}}">
    <meta name="og:site_name" content="<!-- ADD SITE NAME HERE -->">

  <!-- end of meta tags -->

    <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700&family=Sniglet:wght@400;800&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Modak&display=swap" rel="stylesheet">

    <!-- Gridlex -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.7.1/gridlex.min.css"></link>

    <!-- Font Awesome Version 5 for Icons  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.css" />

    <!-- Magnific Popup for lightbox galleries   -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.css" />

    <!-- CUSTOM STYLE SHEET -->
    <link rel="stylesheet" href="/assets/style.css"/>
    <link rel="stylesheet" href="/assets/custom.css"/>

    <link rel="shortcut icon" type="image/png" href="/images/logoFAV.png">

</head>
<body>
  <!-- HEADER -->

  <!-- HAMBURGER MENU -->
    <nav>
        <div class="burger-button">
            <span class="burger-top"></span>
            <span class="burger-middle"></span>
            <span class="burger-bottom"></span>
        </div>
         <div class="burger-menu editable">
           <ul>
             <li><a href="#about">About</a></li>
             <li><a href="#menu">Menu</a></li>
             <li><a class="on-page" href="#merch">Merch</a></li>
             <li><a class="on-page" href="#visit">Visit</a></li>
           </ul>
         </div>
      </nav>

  <!-- BANNER & LOGO -->
    <header class="banner grid-center padded">
      <div class="layer centered">
        <img class="grid-center-middle center" src="/images/logo4.png" style="height:18rem;" alt="Arrrow Cafe NOLA Logo" />
      </div>
    </header>


    {{content}}


    <!-- adds jQuery library to your site -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>

    <!-- adds Magnific Popups javascript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.js"></script>

    <!-- this is your custom javascript/jQuery file -->
<script src="/assets/main.js"></script>

<!-- FOOTER w/MAP & SOCIALS -->
<footer class="grid padded" id="visit">

  <!-- GOOGLE MAP -->
  <div class="col-6_sm-12-middle padded-1">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13826.691885613254!2d-90.0685139!3d29.9600839!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x7b9ecc26045ee330!2sArrow%20Cafe!5e0!3m2!1sen!2sus!4v1591370772651!5m2!1sen!2sus" width="100%" height="350" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
  </div>
  <!-- CONTACT INFO -->
  <div class="col-6_sm-12-middle padded">
    <h2 class="editable">
      Visit Us
    </h2>

    <p class="editable">
      Currently we are serving from our carry-out window. Check out our socials to stay up to date on our open hours.
    </p>
    <br>
    <p class="editable">
      <strong> Address: </strong> 628 N Rampart St, New Orleans, LA 70112
    </p>

    <p class="editable">
      <strong> Email: </strong> hello@arrowcafenola.com
    </p>

    <!-- SOCIAL/EMAIL ICONS -->
    <nav class="social socials">
      <a href="https://www.facebook.com/arrowcafenola/" class="editable" target="_blank">
        <i class="fab fa-facebook-square"></i>
      </a>
      <a href="https://www.instagram.com/arrowcafe/?hl=en" class="editable" target="_blank">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="mailto:hello@arrowcafenola.com" class="editable">
        <i class="far fa-envelope"></i>
      </a>
    </nav>
  </div>

  <div class="centered center credit">
    <a  href="https://pinkmoon-studio.com/" target="_blank"> Designed by:
      <br>
      <span class="creditlogo">
      Pink Moon Studio
    <!-- <img src="/images/pmsFAV.png" alt="Pink Moon Studio Portfolio Arrow Cafe" class="editable" width="5%"> -->
    </a>
  </div>
</footer>

</body>
</html>
